.carousel {
  --slider-height-percentage: 55%;
  --slider-transition-duration: 250ms;
  --control-bullet-active-color: #c0c0c0;
  margin-bottom: 2rem;
}

.light {
  --content-background-color: #edf2f7;
  --organic-arrow-color: black;
  --control-bullet-color: #c0c0c0;
}

.dark {
  --content-background-color: #1a202c;
  --organic-arrow-color: white;
  --control-bullet-color: #c0c0c0;
}

.mobile {
  --control-button-opacity: 0%;
}
