.window {
  display: grid;
  grid-template-rows: 30px auto;
  min-width: 450px;
  min-height: calc(31px + 1rem);
  border: 1px solid silver;
  position: absolute;
  opacity: 0%;
  transform: scale(0);
}
