.container {
  display: grid;
  grid-template-rows: 30px auto;
  width: 1000px;
  height: 600px;
  min-width: 450px;
  min-height: 30px;
  border: 1px solid silver;
  resize: both;
  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    opacity: 0%;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}
