@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.container {
  display: flex;
}

.heading {
  display: flex;
  position: relative;
}

.title {
  font-family: 'Lilita One', sans-serif;
  display: flex;
  font-weight: 400;
  line-height: 0.85;
  text-transform: uppercase;
  white-space: nowrap;
}

.subtitle {
  padding: 5px 20px;
  position: absolute;
  right: -100px;
  bottom: -60px;
  display: flex;
  align-items: center;
  font-family: 'Handlee', cursive;
  font-size: 40px;
  font-weight: 20;
  gap: 15px;
  transform: rotate(-5deg);
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.subtitle:hover {
  transform: rotate(0deg);
}

.subtitle1 {
  display: flex;
}

.subtitle2 {
  display: flex;
}

.subtitle > svg {
  font-size: 40px;
}
